body {
  margin-bottom: 60px;
  padding-left: 15px;
  padding-right: 15px;
}

* {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

title {
  font-family: Arial, Helvetica, sans-serif
}

h1 {
	color:  black;
	text-align: center;
	font-family: arial;
  font-size: 24px;
  font-weight: bold;
} 

h2 {
  font-size: 24px;
  font-weight: bold;
}

h3 {
  font-size: 20px;
  font-weight: bold;
}

p {
	color: black;
}

.image1	{
	width:  50%;
  border-radius: 100%;
  max-width: 150px;
}

.image2 {
  max-width: 500px;
}

hr {
	width: 100%;
}

.photos {
  text-align: center;
}

.container {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 500px;
  padding: 10px;
  text-align: center;
}

.blog {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 500px;
  padding: 10px;

}

.archive {
  line-height: 1.4;
}

.line {
  max-width: 300px;
  height: 4px;
  background-color: #56cfff;
  margin: auto;
  border-radius: 5px;
}

nav {
  margin-top: 20px;
  text-align: center;
}

#more {display: none;}

.size14 {
  font-size: 14px;
  text-align: center;
}