body {
  margin-bottom: 60px;
}

h1 {
	color:  black;
	text-align: center;
	font-family: arial;
  	font-size: 24px;
} 

h2 {
  font-family: arial;
  font-size: 24px;
}

p {
	color: black;
}

.image1	{
	width:  50%;
  border-radius: 100%;
  max-width: 150px;
}

.image2 {
  width:  50%;
  max-width: 100px;
}

hr {
	width: 100%;
}

.photos {
  text-align: center;
}

.container {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50%;
  padding: 10px;
  text-align: center;
}

.blog {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50%;
  max-width: 500px;
  padding: 10px;

}

.line {
  max-width: 300px;
  height: 4px;
  background-color: #56cfff;
  margin: auto;
  border-radius: 5px;
}

nav {
  margin-top: 20px;
  text-align: center;
}